name: schedule

on:
  workflow_dispatch:
    inputs:
      yt_dlp_hash:
        description: "yt-dlp commit hash"
        required: false
        type: string
      yt_dlp_version:
        description: "yt-dlp version (YYYY.MM.DD)"
        required: false
        type: string

  schedule:
    - cron: '42 23 * * *'  # daily at 23:42 UTC

jobs:
  prepare:
    name: prepare
    runs-on: windows-latest
    defaults:
      run:
        shell: bash
    outputs:
      skip_build: ${{ steps.generate-outputs.outputs.skip_build }}
      yt_dlp_ref: ${{ steps.generate-outputs.outputs.yt_dlp_ref }}
      yt_dlp_version: ${{ steps.generate-outputs.outputs.yt_dlp_version }}

    steps:
      - name: Checkout yt-dlp
        uses: actions/checkout@v4
        with:
          repository: yt-dlp/yt-dlp
          ref: ${{ inputs.yt_dlp_hash }}

      - name: Generate Outputs
        id: generate-outputs
        run: |
          set -xeu

          commit_date="$(TZ=UTC git log -1 --format=%cd --date=format-local:%Y.%m.%d)"
          current_date="${YT_DLP_VERSION:-$(TZ=UTC date +%Y.%m.%d)}"
          skip_build="false"
          [[ "$commit_date" == "$current_date" ]] || skip_build="true"

          echo "yt_dlp_version=$current_date" >> $GITHUB_OUTPUT
          echo "yt_dlp_ref=${YT_DLP_HASH:-$(git log -1 --format=%H)}" >> $GITHUB_OUTPUT
          echo "skip_build=$skip_build" >> $GITHUB_OUTPUT
        env:
          YT_DLP_HASH: ${{ inputs.yt_dlp_hash }}
          YT_DLP_VERSION: ${{ inputs.yt_dlp_version }}

  build:
    needs: prepare
    if: needs.prepare.outputs.skip_build != 'true'
    uses: 3dyd/yt-dlp-builds/.github/workflows/build.yml@master
    with:
      yt_dlp_ref: ${{ needs.prepare.outputs.yt_dlp_ref }}
      yt_dlp_version: ${{ needs.prepare.outputs.yt_dlp_version }}
      current_update_channel: nightly
      other_update_channels_spec: "'stable': '3dyd/yt-dlp-builds'"
      pyi_rebuild: false
    permissions:
      contents: write
      pages: write
      id-token: write
    secrets: inherit
